<div class="container">
	<div class="row all-lists">
		<% @lists.each do |list| %>
			<div class="list-item">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<%= list.description %>
					</div>
					<div class="panel-body">

					</div>
				</div>
			</div>
		<% end%>
	</div>
</div>